services:
  - type: web
    name: vortex-vip-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: GITHUB_TOKEN
        sync: false
      - key: WEBHOOK_URL
        sync: false
      - key: GIST_ID
        sync: false
